# sample configuration 
 
# MQTT broker related config
[mqtt]
host = 127.0.0.1
port = 1883

# polling interval for sensors
pollinterval = 30

# topic for status messages
statustopic = onewire-to-mqtt/status

# Onewire related config 
[onewire]
host= 127.0.0.1
port = 4304      

[log]
verbose = false
logfile = /var/log/onewire-to-mqtt.log

# list of sensors to be polled and according mqtt topics 
[sensors]
26.C51B8C000000/B1-R1-A/pressure = hhv7/jordkallare/pressure
26.C51B8C000000/humidity = hhv7/jordkallare/humidity
10.F19884010800/temperature = hhv7/jordkallare/temperature
